# file that's checked
FILE=Release.gpg

# user settings
CACHEDIR=./cache
STATUSDIR=/var/www/kubuntu/
RELEASE=raring
CREDENTIALS=<user:password> # see apt ppa URL
LP_CREDENTIALS=<path to credfile>
KDE_VERSION=4.9.95
PPA=kubuntu-ninjas/ppa
